## .NET
bin/
obj/
*.user
*.suo

## Visual Studio
.vs/
*.rsuser

## Build results
[Dd]ebug/
[Rr]elease/
x64/
x86/

## NuGet
*.nupkg
*.snupkg
**/[Pp]ackages/*
!**/[Pp]ackages/build/

## Rider
.idea/

## OS
Thumbs.db
.DS_Store
